.MallManagement__body {
    padding-top: 55px;
}

.MallManagement__TabContainer {
    margin-top: -32px;

    .nav-tabs {
        padding-left: 35%;
    }

    .tab-content {
        margin-top: 15px;
    }
}
