.MallManagement__body {
    padding-top: 95px;
}

.MallManagement__TabContainer {
    margin-top: -32px;
    margin-left: -15px;
    margin-right: -15px;

    .nav-tabs {
        padding-left: 35%;
        margin-left: -15px;
        margin-right: -15px;
    }

    .tab-content {
        margin-top: 15px;
    }
}

.CreateNotification {
    padding-left: 15px;
}
