.MallManagement__body {
    padding-top: 45px;
    position: relative;
    min-width: 768px;

    h1 {
        padding: 20px 30px;
        margin: 0;
        background: $gray-lightest;
    }
}

.MallManagement__TabContainer {
    margin-top: -44px;


    .nav-tabs {
        float: right;
        padding-right: 30px;
    }

    .tab-content {
        padding: 15px;
        background: $white;
        clear: both;
    }
}

.CreateNotification {
    padding-left: 15px;
}
