.carousel-wrapper {
    position: relative;
    margin-left: -15px;

    .carousel  {
        margin: 0 !important;
        width: 100% !important;
    }

    .prev, .next {
        min-width: 30px;
        position: absolute;
        height: 100%;
        background: rgba(25, 31, 37, 0.4);
        top: 0;
        left: 15px;
        color: $white;
        z-index:1;

        > i {
            font-size: 2em;
        }
    }

    .next {
        right: 0;
        left: auto;
    }

    &:hover, &:focus {
        .prev, .next {
            transition: all .1s ease-out 0.1s;
            background: rgba(25, 31, 37, 0.8);
        }
    }
}
