.carousel-wrapper {
    position: relative;

    .carousel  {
        margin: 0 !important;
    }

    .prev, .next {
        min-width: 30px;
        position: absolute;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        top: 0;
        color: #fff;

        > i {
            font-size: 2em;
        }
    }

    .next {
        right: 0px;
    }
}