.carousel-wrapper {
    position: relative;

    .caroufredsel_wrapper {
        margin: 0 !important;
    }

    .prev, .next {
        min-width: 30px;
        position: absolute;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        top: 0;
        color: #fff;
    }

    .next {
        right: 25px;
    }
}