$page-bg:                #d6d6d6;
$btn-primary-bg:         #1B70A6;
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             #8f9194 !default;
$gray-lighter:           #c2c3c7 !default;

$blue-darker:           #00216a;
$blue-dark:             #234e80;
$blue:                  #1b70a6;
$blue-light:            rgb(85, 141, 195);
$blue-lighter:          #a6c1d5; 

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$font-size-base:            13px !default;

$body-bg:                   #d6d6d6 !default;
$text-color:                #0F1616 !default;
$star-color:                #ecc44d !default;

//=== Shared nav styles
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         #fff !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

$nav-open-link-hover-color:                 #fff !default;

//== Tabs
$nav-tabs-border-color:                     #428bca !default;

$nav-tabs-link-hover-border-color:          $nav-link-hover-bg !default;

$nav-tabs-active-link-hover-bg:             #428bca !default;
$nav-tabs-active-link-hover-color:          #fff !default;
$nav-tabs-active-link-hover-border-color:   #428bca !default;

$nav-tabs-justified-link-border-color:            #428bca !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;