.select2-default {
    color: $gray-dark !important;
}

.select2-results .select2-highlighted {
    background: $blue;
}

.select2-drop-active {
    border: 1px solid $blue;
}

.form-control.select2-container.select2-dropdown-open{
    border-color: $blue;
}

.CreateEdit__form {
    padding-top: 200px;

    margin-bottom: 20px;

    label.input-optional::after {
        content: " (optional)";
        font-size: smaller;
        font-weight: 500;
    }

    textarea {
        resize: none;
    }

    .well {
        position: relative;
        .close {
            position: absolute;
            top: 7px;
            right: 11px;
            font-size: 2em;
        }
    }
}

.CreateEdit__titlebar {
    padding: 15px 15px 0 15px;
    background: #ffffff !important;

    h1 {
        margin-top: 0;
    }

    h4 {
        border-bottom: 4px solid $gray-lighter;
        padding-bottom: 15px;
    }

    .btn-toolbar {
        position: absolute;
        right: 30px;
        top: 20px;
    }

    button.tool{
      width: 75px;
    }
}

.image-container {
    display: none;

    position: relative;
    box-sizing: content-box;

    width: 300px;
    height: 188px;
    line-height: 188px;

    margin-bottom: 10px;

    border: 1px solid $gray-lighter;

    text-align: center;
    vertical-align: middle;

    &.image-present {
        display: inline-block;
    }
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
}

.image-remove {
    @extend .corner-button;

    @extend .fa2;
    @extend .fa-trash-o;

    position: absolute;
    top: 0;
    right: 0;
}

.create-edit-button {
    display: none;
}


button.tool:hover {

    .create-edit-button {
        display: inline-block;

        + i {
            display: none;
        }
    }

}
