body {
    position: relative;
    background: $gray-light;
    color: $black;
}

h1 {
    font-size: 20px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

#create-edit-tab-container {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 135px;
    height: 40px;
    width: 100%;

    > .row {
        width: 1260px;
        margin: 0 auto;
        background: #fff;
        border-bottom: 3px solid $blue;
        height: 43px;
    }

    .nav {
        border-bottom: none;

        li {
            border-top: 1px solid $gray-dark;
            border-right: 1px solid $gray-dark;
            height: 40px;
            text-align: center;
            padding: 0 1px;

            a {
                border: 0;
                height: 40px;
                background: transparent;
                color: $gray-dark;
            }

            &.active {
                background: $blue;
                border: none;

                a {
                    color: $white;
                    font-weight: 400;
                }
            }
        }

        li:first-child {
            margin-left: 30px;
            border-left: 1px solid $gray-dark;
        }
    }
}

#create-edit {
    z-index: 9;
    padding-top: 160px;

    .row {
        background: $gray-lightest;
    }

    .select2-offscreen, .select2-offscreen:focus {
        left: auto !important;
        top: auto  !important;
    }

    .content-section {
        >.row {
            padding-bottom: 20px;

            >div {
                >.form-group:first-child {
                    margin-top: 56px;
                }

                >h2:not(:first-child) {
                    margin-top: 40px;
                }
            }
        }

        .form-group {
            p.small {
                width: 85%;
            }

            &.input-optional {
                label::after {
                    content: " (optional)";
                    font-size: smaller;
                    font-weight: 500;
                }
            }

            label {
                font-weight: 500;
            }

            textarea {
                height: 100px;
            }

            .validation-err-msg {
                display: none;
                color: $red;
            }

            &.input-invalid {
                .validation-err-msg {
                    display: block;
                }

                input, textarea {
                    border-color: $red;
                }
            }
        }

        .type-select {
            .type-descriptor {
                display: none;

                &.active {
                    display: inline-block;
                }
            }
        }

        .create-edit-input-element {
            .contact-form:nth-child(n+2) {
                margin-top: 20px;
            }
        }

        .item-form-list {
            >button {
                margin-left: 12px;
                margin-top: 5px;
            }
        }

        .form-card {
            border: 1px solid $gray-dark;
            padding: 10px 5px;
            margin: 15px 5px 5px 5px;

            .btn {
                color: $gray-dark;
                padding: 0;
                float: right;
                margin-right: -10px;
                margin-top: -5px;
            }
        }
    }
}

.nav-anchor {
    top: -160px;
    display: block;
    position: relative;
    visibility: hidden;
}

.select2-default {
    color: $gray-dark !important;
}

.select2-results .select2-highlighted {
    background: $blue;
}

.select2-drop-active {
    border: 1px solid $blue;
}

.form-control.select2-container.select2-dropdown-open{
    border-color: $blue;
}
