#discovery {
    position: relative;
    padding-top: $header-height + 20px;

    > aside {
        float: left;
        margin-left: -15px;
        width: 265px;
        height: 55px;
        padding: 10px 30px;
        height: auto;
    }

    .facet-group {
        padding-bottom: 10px;
        margin: 0;
        border-bottom: 2px solid $gray-lighter;

        + .facet-group {
            margin-top: 10px;
        }

        ul {
            margin-left: 10px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    li {
        position: relative;
        line-height: 2.5em;

        &.active {
            color: $link-color;

            &:after {
                content: '';
                width: 3px;
                height: 100%;
                display: inline-block;
                position: absolute;
                left: -30px;
                z-index: 15;
                background: $link-color;
                top: 0;
            }
        }
    }

    > section {
        float: right;
        width: 965px;
        margin-bottom: 20px;
    }

    .listings {
        padding: 0;
        overflow: hidden;
    }

}