#discovery {
    position: relative;
    padding-top: $header-height + 20px;

    > aside {
        float: left;
        width: 265px;
        height: 55px;
        padding: 10px 30px;
        height: auto;
    }

    > section {
        float: left;
        width: 965px;
        margin-bottom: 20px;
    }

    .listings {
        padding: 0;
        overflow: hidden;
    }

}