#discovery {
    position: relative;
    padding-top: 96px;

    //to combat #main's padding
    margin-left: -15px;
    margin-right: -15px;

    width: 1260px;

    display: table;
    > * {
        display: table-cell;
        vertical-align: top;
    }

    > aside {
        width: 265px;
        padding: 20px 30px;
    }

    .facet-group {
        padding-bottom: 10px;
        margin: 0 5px 0 5px;
        border-bottom: 2px solid $gray-lighter;

        + .facet-group {
            margin-top: 10px;
        }

        ul {
            margin-left: 10px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    li {
        position: relative;
        line-height: 2.5em;

        &.facet-group-item {
            cursor: pointer;
            padding-left: 15px;
            margin-left: -5px;

            &:hover, &:focus{
              border-left-color: $link-color;
            }
        }



        &.active {
            color: $link-color;
            border-left-color: $link-color;


        }
    }

    .sidebar {

        h3 {
            @extend .h4;
            color: $blue-dark;
        }

        li {
            border-left: transparent 5px solid;
            margin-right: -35px;

            i.icon-shopping {
                @extend .icon-shopping-grayDarker;
                top: 3px;
            }

            &:hover, &:focus {
                color: $link-color;
                border-left-color: $link-color;
                font-weight: 600;
                background: $white;

                > i.icon-shopping {
                    @extend .icon-shopping-blueDark;
                }
            }

            &.active {
                background-color: $link-color;
                color: $white;
                border-left-color: $blue-darker;
                font-weight: 600;

                > .icon-shopping{
                    @extend .icon-shopping-white;
                }

                &:hover, &:focus {
                background-color: $blue-darker;
                border-left-color: $gray-darkest;

                    > .icon-shopping{
                        @extend .icon-shopping-white;

                    }
                }
            }
        }
    }

    > .content {
        padding: 10px 15px;
    }
}

.shareLink{
  color: $blue-darker;
  font-size:13pt;
  cursor: pointer;
}

.Discovery__NewArrivals, .Discovery__MostPopular {
    margin-top: 40px;
}

.listings {
    padding: 0;
    overflow: hidden;
}

.listings-search-results, .new-arrival-listings, .most-popular-listings {
    .SearchListingTile:nth-child(4n+4) {
        margin-right: 0px;
    }
}

.carousel {
    .SearchListingTile {
        margin-bottom: 0;
    }
}
