.featured-listings-carousel {
    width: 100%;
    margin: 0;

    .SearchListingTile--featured {
        width: 600px;
        height: 375px;
        border: 1px solid $gray-lighter;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .prev {
        left: 0px;
    }

}
