#header {

    > .row {
        position: relative;
    }

    .navbar-form {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 69px;
        left: 280px;
        height: 54px;
        border: 1px solid #d5d5d5;
        border-top: none;
        border-bottom: none;
        border-right: none;

        > .form-group {
            width: 100%;

            > .form-control {
                position: relative;
                padding: 12px 35px 16px 75px;
                width: 100%;
                height: 54px;
                border: 0;
            }

            > i {
                position: absolute;
                z-index: 1; // to place icon on top of search input box
                top: 17px;
                left: 30px;
                color: #4c5457;
            }
        }
    }

    .spacer {
        height: 20px;
        background: #eeeeef;
        width: 100%;
    }
}


#logo-container {
    float: left;
    width: 280px;
    height: 55px;
    padding: 10px 0 0 30px;
}

#appsmall-logo-link {
    > img {
        width: 112px;
    }
}

#user-menu {
  position: absolute;
  top: 0;
  right: 0;

  .btn {
    height: 54px;
    background: #fff;
    padding: 5px 20px 0 20px;
    font-size: 34px;
    color: #858585;
    border-left: 1px solid #d5d5d5;
    z-index:300;
  }

  [aria-expanded="true"] {
    background:#eeeeef;
    color:#009dd3;
    z-index:1000;
    box-shadow:inset 0 5px 0 #009dd3;

    .i{
      color:#009dd3;

    }
  }

  .dropdown-menu {
    margin-top: 0;
    padding: .8em 0;
    width: 200px;
    border-color: #d5d5d5;
    background:#eeeeef;
    padding-bottom:0;

    h4{
      color:#009dd3;
      font-weight:300;
      font-size:12pt;
      padding:0 0 .1em 1.7em;

    }

    ul{
      margin:0;
      padding:0 0 1em 0;

      li{
        list-style-type:none;
        padding-left:2em;

        &:hover{
          box-shadow:inset 5px 0 0 #009dd3;
        }
        a{
          color:#555;
          width:100%;
          display:block;

          &:hover{
            text-decoration:none;
          }

        }
      }
    }
    > li {
      line-height: 2em;
      width:100%;
      display:block;

      > a {
        line-height: inherit;
        padding: 3px 10px;


        > span {
          padding-left: 10px;
        }
      }
    }
    .backToHud{
      width:100%;
      padding:.5em;
      padding-left:1.7em;
      background:#dbdcdd;
      margin-bottom:0;

      a{
        color:#3b4246;
        &:hover{
          color:#0e5772;
        }
      }
      &:hover{
        background:#dbdcdd;
        border:none;
        box-shadow:none;
        color:#087399;
      }
    }
    .goback{
      padding:0;

      &:hover{
        color:#087399;
      }
    }
  }
}
#sub-header {
    h1 {
        font-weight: 400;
    }

    .row {
        height: 60px;
    }
}

.HelpModal {
    .modal-body {
        height: 100%;
    }
}
