#header {

    > .row {
        position: relative;
    }

    .navbar-form {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 69px;
        left: 280px;
        height: 54px;
        border: 1px solid #d5d5d5;
        border-top: none;
        border-bottom: none;
        border-right: none;

        > .form-group {
            width: 100%;

            > .form-control {
                position: relative;
                padding: 12px 35px 16px 75px;
                width: 100%;
                height: 54px;
                border: 0;
            }

            > i {
                position: absolute;
                z-index: 1; // to place icon on top of search input box
                top: 17px;
                left: 30px;
                color: #858585;
            }
        }
    }

    .spacer {
        height: 20px;
        background: #e8e8e8;
        width: 100%;
    }
}


#logo-container {
    float: left;
    width: 280px;
    height: 55px;
    padding: 16px 0 0 30px;
}

#appsmall-logo-link {
    > img {
        width: 112px;
    }
}

#user-menu {
    position: absolute;
    top: 0;
    right: 0;

    .btn {
        height: 54px;
        background: #fff;
        padding: 15px 34px 0 30px;
        font-size: 18px;
        color: #858585 !important;
        border-left: 1px solid #d5d5d5;
    }

    i {
        color: #858585 !important;
    }


    .dropdown-menu {
        margin-top: 0;
        border-color: #d5d5d5;
    }
}