#header {

  margin-top: 41px;

    > .row {
        position: relative;
    }

    .clear {
      clear:both;
    }

    .navbar-form {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0px;
        left: 323px;
        height: 54px;
        border: 1px solid $gray-lighter;
        border-top: none;
        border-bottom: none;
        border-right: none;

        > .Search {
            width: 515px;
            position: relative;

            > .form-control {
                position: relative;
                padding: 16px 35px 16px 55px;
                width: 100%;
                height: 54px;
                border: 0;
            }

            > .icon-search {
                position: absolute;
                z-index: 1; // to place icon on top of search input box
                top: 20px;
                left: 30px;
                color: $gray-dark;
            }

            > .icon-cross {
                position: absolute;
                z-index: 1; // to place icon on top of search input box
                top: 20px;
                right: 30px;
                color: $gray-dark;

                &:hover{
                    cursor: pointer;
                    color: $gray-base;
                }
            }
        }
    }

    .spacer {
        height: 1px;
        background: $gray-lighter;
        width: 100%;
    }
}


#appsmall-logo {
    display: block;
    float: left;
    width: 265px;
    height: 55px;
    padding: 10px 0 0 25px;
}

#sub-header {
    h1 {
        font-weight: 400;
    }

    .row {
        height: 60px;
    }
}

.HelpModal {
    .modal-body {
        height: 100%;
    }
}

.react-select-box {
    &:before {
        @extend .icons;
        @extend .icon-caret-down;

        border-left: 0;
        padding-top: 7px;
    }
    &:after {
        border: 0;
    }
}

.react-select-box-empty .react-select-box-close {
    color: $blue-dark;
    text-decoration: none;

    &:hover, &:focus {
        color: $blue-dark;
        text-decoration: underline;
    }
}

.react-select-box-option {
    color: $gray-darkest;
    font-weight: 300;
    border-left: 4px solid transparent;

    &:hover, &:focus {
        color: $blue-dark;
        background: transparent;
        border-left: 4px solid $blue-dark;
    }
}

.react-select-box-option-selected, .react-select-box-multi .react-select-box-option-selected {
    color: $blue-dark;
    background: transparent;
    border-left: 4px solid $blue-dark;
}

.react-select-box-close {
    color: $blue-dark;
    text-decoration: none;
    text-transform: none;

    &:hover, &:focus {
        color: $blue-dark;
        text-decoration: underline;
    }
}

.SelectBox__Types, .SelectBox__Organizations {
    border-radius: 0;
    box-shadow: none;
    border-left: 1px solid $gray-lighter;

    > .react-select-box {
        padding: 18px 0;
        border-top: 4px solid transparent;

        &:hover {
            border-top: 4px solid $blue-dark;
            color: $gray-dark;
        }

        > .react-select-box-label {
            font-size: inherit;
            font-weight: 400;
            color: $gray-dark;

            & .react-select-box-empty {
                color: $gray-dark;

                &:hover {
                    border-top: 4px solid $blue-dark;
                    color: $blue-dark;
                }
            }
        }
    }

    > .react-select-box-options {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        border: 0;
        background: $gray-lightest;
    }

    > .react-select-box-clear {
        top: 17px;
    }

}

.SelectBox__Types.open, .react-select-box-empty.SelectBox__Types.open,.SelectBox__Organizations.open, .react-select-box-empty.SelectBox__Organizations.open,  {
    > .react-select-box > .react-select-box-label {
        color: $blue-dark;
    }
}

.react-select-box-container.SelectBox__Types.react-select-box-multi.react-select-box-empty.open, .react-select-box-container.SelectBox__Organizations.react-select-box-multi.react-select-box-empty.open{
    > .react-select-box {
      background: $gray-lightest;
      color: $blue-dark;
    }

    > .react-select-box-label, > .react-select-box-label .react-select-box-empty {
      color: $blue-dark;
    }
}
