$quickview-nav-tabs-height: 42px;

.quickview {
    .modal-dialog {
        width: 1000px;
    }

    .modal-body {
        padding: 0;
    }

    .tabs-container {
        position: relative;
    }

    .nav-tabs {
        padding: 0 25px;
    }
    .tab-content {
        overflow: auto;
        height: 416px;
        padding: $panel-body-padding;
        color: $gray-dark;
    }

    section > h5 {
        margin: 0;
        color: $gray-dark;

        + hr {
            margin: $panel-body-padding/4 0 $panel-body-padding/2 0;
        }
    }
}

.quickview-header {
    position: relative;
    padding: 20px 25px;
    .company {
        background: $gray-lightest;
        padding: 2px 10px;
        border-radius: 10px;
        display: inline-block;
        position: absolute;
        font-size: 12px;
        left: 100px;
        bottom: -30px;
    }

    .quickview-header-info {
        position: relative;

        > div {
            position: absolute;
            top: 25px;
            font-size: 18px;
            line-height: 18px;
            font-weight: normal;
            padding: 0 0 0 20px;
            margin: 0;
            display: inline-block;
        }

        i {
            font-size: $font-size-small;
        }
    }

    .quickview-header-actions {
        position: absolute;
        right: 60px;
        top: 23px;
    }

    .listing-icon {
        width: 40px;
        height: 40px;
    }
    .listing-title {
        position: absolute;
        top: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: normal;
        padding: 0 0 0 20px;
        margin: 0;
        display: inline-block;
        width-max:50px;
    }
}

.quickview-overview {

    .carousel-wrapper {
        margin-left: $panel-body-padding;
        position: fixed;
        padding: 0;
        width: 600px;
        height: 375px;

        > .carousel {
            height: 100%;
            overflow: hidden;
            margin: 0 auto !important;
        }

        img {
            width: 600px;
            height: 375px;
        }
    }

    .col-md-4 {
        float: right;
    }
}

.quickview-reviews {
    p, span {
        font-size: $font-size-small;
    }
    position: relative;

    .col-md-5 {
        padding: 0;
    }

    .col-right {
        textarea {
            padding: $table-cell-padding;
            resize: none;
            margin: 0 0 10px 0;
            width: 100%;
            height: 12em;
            display: block;
        }
    }

    .review-filters {
        .progress {
            display: inline-block;
            width: 123px;
            height: 14px;
            margin: 0;
            margin-left: 6px;
        }

        .count {
            margin-left: 6px;
        }
    }

    .user-review {
        > div {
            display: inline-block;
        }
        .author {
            margin-left: 6px;
        }
        .date {
            margin-left: 6px;
        }
    }

}

.quickview-details, .quickview-resources {
    section + section {
        margin-top: $panel-body-padding;
    }
}

.Quickview__Changelog {
    textarea {
        padding: $table-cell-padding;
        resize: none;
        margin: 1em 0;
        width: 100%;
        height: 7em;
        display: block;
    }

    section {
        button:first-of-type {
            margin-right: 6px;
        }
    }

    .track {
        display: inline-block;
        margin-left: 6px;
    }
}


.ListingActivity__Changes {
    font-size: 12px;
    color: rgb(76, 84, 87);
    margin-left: 10px;
    margin-top: 5px;

    li {
        margin-bottom: 4px;

        .OldValue {
            text-decoration: line-through;
        }
    }
}

.ListingAdmin__Controls {
    > section {
        margin-bottom: 20px;
    }
}

.Review {

    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.5em;
    }

    &__time {
        margin-left: 0.5em;
        font-size: $font-size-small - 2px !important;
    }

    &__author {
        margin-left: 0.5em;
    }

    .fa-pencil {
        margin-top: 3px;
        cursor: pointer;
    }
}

.SubmitReview__Rating {
    margin-bottom: 10px;
}

.EditReview {
    .fa-lock {
        margin-left: 6px;
        color: $link-color;
    }
}
