$quickview-nav-tabs-height: 42px;

.quickview {

    .modal-dialog {
        width: 1000px;
    }

    .modal-body {
        padding: 0;
    }

    .tabs-container {
        position: relative;
    }

    .nav-tabs {
        padding: 0 $panel-body-padding;
    }
    .tab-content {
        overflow: auto;
        height: 416px;
        padding: $panel-body-padding;
    }
}

.quickview-header {
    position: relative;
    padding: 20px 25px;

    .quickview-header-info {
        position: relative;

        > div {
            position: absolute;
            top: 25px;
            font-size: 18px;
            line-height: 18px;
            font-weight: normal;
            padding: 0 0 0 20px;
            margin: 0;
            display: inline-block;
        }

        i {
            font-size: $font-size-small;
            margin-right: 3px;
        }
    }

    .quickview-header-actions {
        position: absolute;
        right: 60px;
        top: 23px;
    }

    .listing-icon {
        width: 40px;
        height: 40px;
    }
    .listing-title {
        position: absolute;
        top: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: normal;
        padding: 0 0 0 20px;
        margin: 0;
        display: inline-block;
    }
}

.quickview-overview {

    .carousel-wrapper {
        margin-left: $panel-body-padding;
        position: fixed;
        padding: 0;
        width: 600px;
        height: 375px;

        > .carousel {
            height: 100%;
            overflow: hidden;
            margin: 0 auto !important;
        }

        img {
            width: 600px;
            height: 375px;
        }
    }

    .col-md-4 {
        float: right;
    }
}

.quickview-reviews {
    .col-right {
        position: fixed;
        right: 0;

        textarea {
            padding: $table-cell-padding;
            resize: none;
            margin: 1em 0;
            width: 100%;
            height: 12em;
            display: block;
        }

        P {
            font-size: $font-size-small;
        }
    }

    .review-filters {
        .progress {
            display: inline-block;
            width: 123px;
            height: 14px;
            margin: 0;
            margin-left: 6px;
        }

        .count {
            margin-left: 6px;
        }
    }

    .user-review {
        > div {
            display: inline-block;
        }
        .author {
            margin-left: 6px;
        }
        .date {
            margin-left: 6px;
        }
        .review {
            border-bottom: 1px solid transparent;
            &:hover {
                // border-bottom: 1px solid $gray-lighter;
            }
        }

        .user-review-editing {
            margin-bottom: $panel-body-padding;

            > textarea {
                width: 100%;
                resize: none;
            }
        }
    }


}