.CreateEdit__form {

    .select2-container .select2-choice {
        border: $input-border;
        color: $input-color;
        border-radius: 0px;
        background-color: $input-bg;
        background-image: none;
        filter: none;
    }

    .select2-search input {
        border: $input-border;
        color: $input-color;
        border-radius: 0px;
        background-color: $input-bg;
        background-image: none;
        filter: none;
        }

    > html[dir="rtl"] .select2-search input {
        background-color: $input-bg;
        background-image: none;
        }

        .select2-drop-mask {
            border: 0;
            margin: 0;
            padding: 0;
            position: fixed;
            left: 0;
            top: 0;
            min-height: 100%;
            min-width: 100%;
            height: auto;
            width: auto;
            opacity: 0;
            z-index: 9998;
            /* styles required for IE to work */
            background-color: #fff;
            filter: alpha(opacity=0);
        }

        .select2-drop {
            background: $input-bg;
            color: $input-color;
            border: $input-border;
            border-radius: 0;

            -webkit-box-shadow: 0 4px 5px rgba(25, 31, 37, .15);
                    box-shadow: 0 4px 5px rgba(25, 31, 37, .15);
        }

        .select2-drop.select2-drop-above {
            margin-top: 1px;
            border-top: $input-border;
            border-radius: 0px;

            -webkit-box-shadow: 0 -4px 5px rgba(25, 31, 37, .15);
                    box-shadow: 0 -4px 5px rgba(25, 31, 37, .15);
        }

        .select2-drop-active {
            border: $input-border-focus;
        }

        .select2-drop.select2-drop-above.select2-drop-active {
            border-top: $input-border-focus;
        }

        .select2-drop-auto-width {
            border-top: $input-border;
        }



    .select2-container-active .select2-choice,
    .select2-container-active .select2-choices {
            border: $input-border-focus;
            outline: none;

            -webkit-box-shadow: 0 0 5px rgba(25, 31, 37, .3);
                    box-shadow: 0 0 5px rgba(25, 31, 37, .3);
        }

    .select2-dropdown-open .select2-choice {
            border-bottom-color: transparent;
            -webkit-box-shadow: 0 1px 0 $white inset;
                    box-shadow: 0 1px 0 $white inset;
            background-color: $input-bg;
            background-image: none;
            filter: none;
        }
    .select2-dropdown-open.select2-drop-above .select2-choice,
    .select2-dropdown-open.select2-drop-above .select2-choices {
            border: $input-border-focus;
            border-top-color: transparent;
            border-radius: 0px;

            background-color: $input-bg;
            background-image: none;
            filter: none;
        }
    .select2-results .select2-highlighted {
            background: $btn-primary-bg;
            color: $btn-primary-color;
        }

    .select2-results li em {
            background: $input-bg;
        }

    .select2-results .select2-highlighted ul {
            background: $input-bg;
            color: $input-color;
        }

    .select2-results .select2-no-results,
    .select2-results .select2-searching,
    .select2-results .select2-ajax-error,
    .select2-results .select2-selection-limit {
            background: $input-bg-disabled;
        }

        /*
        disabled look for disabled choices in the results dropdown
        */
    .select2-results .select2-disabled.select2-highlighted {
            color: $input-color-placeholder;
            background: $input-bg-disabled;
            display: list-item;
            cursor: default;
        }
    .select2-results .select2-disabled {
          background: $input-bg-disabled;
          display: list-item;
          cursor: default;
        }

    .select2-results .select2-selected {
            display: none;
        }

    .select2-more-results.select2-active {
            background: $input-bg url('select2-spinner.gif') no-repeat 100%;
        }

    .select2-results .select2-ajax-error {
            background: rgba(255, 50, 50, .2);
        }

    .select2-more-results {
            background: $input-bg-disabled;
        }

        /* disabled styles */

    .select2-container.select2-container-disabled .select2-choice {
            background-color: $input-bg-disabled;
            background-image: none;
            border: $input-border;
        }

    .select2-container.select2-container-disabled .select2-choice .select2-arrow {
            background-color: $input-bg-disabled;
            background-image: none;
        }

    .select2-container.select2-container-disabled .select2-choice abbr {
            display: none;
        }


        /* multiselect */

    .select2-container-multi .select2-choices {
            border: $input-border;
            background-color: $input-bg;
            filter: none;
            background-image: none;
        }
    .select2-container-multi.select2-container-active .select2-choices {
            border: $input-border-focus;
            outline: none;

            -webkit-box-shadow: 0 0 5px rgba(25, 31, 37, .3);
                    box-shadow: 0 0 5px rgba(25, 31, 37, .3);
        }
    .select2-container-multi .select2-choices .select2-search-field input {
            color: $input-color;
        }

    .select2-default {
            color: $input-color !important;
        }
    .select2-container-multi .select2-choices .select2-search-choice {
            color: $gray-darkest;
            border: $blue-dark;
            border-radius: 0px;

            -webkit-box-shadow: 0 0 2px $input-bg inset, 0 1px 0 rgba(25, 31, 37, 0.05);
                    box-shadow: 0 0 2px $input-bg inset, 0 1px 0 rgba(25, 31, 37, 0.05);

            background-color: $blue-lighter;
            filter: none;
            background-image: none;
        }
    .select2-container-multi .select2-choices .select2-search-choice-focus {
            background: $input-bg;
        }
    .select2-container-multi.select2-container-disabled .select2-choices {
            background-color: $gray-lightest;
            background-image: none;
            border: $input-border;
            cursor: default;
        }

    .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
            border: $input-border;
            background-image: none;
            background-color: $input-bg-disabled;
        }

        .select2-container .select2-choice .select2-arrow {
            border-left: $input-border;
            border-radius: 0px;

            background-clip: padding-box;

            background: $input-bg;
            background-image: none;
            filter: none;
        }

        html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
            border-right: $input-border;
            border-radius: 0px;
        }

        .select2-search input {
            border: $input-border;
            border-radius: 0;

            -webkit-box-shadow: none;
                    box-shadow: none;

            background: $input-bg;
        }

        html[dir="rtl"] .select2-search input {
            background: $input-bg;
        }

    .select2-search input.select2-active {
            background: $input-bg;
        }

        .select2-container-active .select2-choice,
        .select2-container-active .select2-choices {
            border: $input-border-focus;
            -webkit-box-shadow: 0 0 5px rgba(25, 31, 37, .3);
                    box-shadow: 0 0 5px rgba(25, 31, 37, .3);
        }

}
