#globalNav {
	top: 20px !important;
}

#active {
	color: $blue !important;
	border-top-color: $blue !important;
}


.navbar-inverse .navbar-nav {
	& li:hover, & li:hover, & ul.dropdown-menu > li > a:hover{
		border-left-color: $blue !important;
	}

	& a:hover, & a:focus{
		border-top-color: $blue !important;
	}
}

.navbar-left {
	margin-left: -60px !important;
}

.navbar-right {
	margin-right: -60px !important;
}

.activeIcon {
	color: $blue;
}

.navbar-inverse .navbar-nav {

	& li > a {

		color: $gray-lightest !important;

		&:hover, &:focus {
			color: $white !important;
		}

	}

	&  li.dropdown-header {
		color: $blue;
	}

	& ul.dropdown-menu {
		background: $gray-darker;

		& > li {

			&:hover, &:focus{
				border-left: $blue;
			}

			& > a {
				color: $white;


				&:hover, &:focus{
					color: $white;
				}

				& > i:hover, & > i:focus{
					color:$white !important;
				}

			}
		}

	}
}
