#globalNav {
	top: 20px;
}

#active {
	color: $blue;
	border-top-color: $blue;
}

.navbar-inverse .navbar-nav {
	& li:hover, & li:hover, & ul.dropdown-menu > li > a:hover{
		border-left-color: $blue !important;
	}

	& a:hover, & a:focus{
		border-top-color: $blue !important;
	}
}
.navbar-nav > li.disabled{
	& a:hover, & a:focus{
		border-top-color: transparent !important;
	}
}

.activeIcon {
	color: $blue;
}

.user-menu-dropdown.open {
	.icon-menu-grayLightest {
		@extend .icon-menu-blue;
	}
}


.nav.navbar-nav {

    > .open {
        > a, > a:hover, > a:focus {

            > .icon-caret-up-grayLightest{
				@extend .icon-caret-up-blue;
            }

            > .icon-menu-grayLightest{
				@extend .icon-menu-blue;
            }
        }
    }
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li.dropdown-header {
	color: $blue !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a.caboose {
	background-color: $gray-dark !important;

	> .icon-mail {
		@extend .icon-mail-grayLightest;
	}

	&:hover, &:focus {
		border-left-color: $blue !important;

		> .icon-mail {
			@extend .icon-mail-white;
		}

	}


}

.navbar-inverse .navbar-nav > .disabled > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background: transparent !important;
}

@media all and (min-width: 1240px) and (max-width: 10000px) {
	.navbar-left {
		margin-left: -60px !important;
	}

	.navbar-right {
		margin-right: -60px !important;
	}
}
