@import "variables";

@import "../../bower_components/ubuntu-fontface/_ubuntu-base.scss";
@import "../../bower_components/ubuntu-fontface/_ubuntu-mono.scss";
@import "../../bower_components/magnific-popup/src/css/main.scss";
@import "../../node_modules/select2/select2.css";
@import "../../node_modules/select2/select2-bootstrap.css";
@import "_bootstrap.scss";
@import "../../node_modules/ozp-react-commons/app/styles/commons.scss";
@import "../../node_modules/react-select-box/example/select-box.css";
@import "../../node_modules/sweetalert/dist/sweetalert.css";
@import "../../node_modules/icons/dist/css/sprite.scss";

[class^="icon-"], [class*=" icon-"] {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$header-height: 55px;
$black: $gray-base;

html, body {
    font-family: 'Ubuntu';
    font-weight: 300;
    height: 100%;
    /*background: url('../images/bg_fractal_gray.png') $gray-dark no-repeat fixed;
    background-size: cover;*/
    background: $gray-lightest;
}

.no-list-style{
  list-style-type: none;
  padding-left:0;
}

strong {
    font-weight: 500;
}

.clear {
  clear: both;
}

a:focus {
    outline-color: $blue;
}

#main {
    min-height: 100%;
    height: auto;
	padding-left: 0;
	padding-right: 0;
}

#header, #sub-header {
    z-index: 5;
    position: fixed;
    height: $header-height;
    width: 100%;
    left: 0;

    > .row {
        background: $white;
        margin: 0 auto;
	    min-width: 768px;
    }
}

@media (max-width: 768px) {
	#header, #sub-header {
		position: absolute;
	}
}

#sub-header {
    z-index: 1;
    position: fixed;
    height: 60px;
    top: $header-height + 20px;

    .btn-group {
        padding: 10px;
    }
}

.alert-small {
    width: 33%;
    padding: 5px 10px 5px 10px;
}

@import 'w2ui';
@import 'select2';
@import 'loadmask';
@import 'load-more';
@import 'carousel';
@import 'header';
@import 'listing/search-listing-tile';
@import 'listing/admin-owner-listing-tile';
@import 'featured-listings';
@import 'discovery';
@import 'quickview';
@import 'create-edit';
@import 'toolbar';
@import 'infiniteScroll';
@import 'sweetalert';
@import 'management/user/listing-management';
@import 'management/user/my-listings';
@import 'management/user/recent-activity';
@import 'management/mall/mall-management';
@import 'management/deleteConfirmation';
@import 'management/listings/listings';
@import 'management/notifications';

.close {
    font-size: 2em;
    font-weight: lighter;
    top: 0;
    margin-top: -10px;
}

.error-text{
  color: $red !important;
}

.forceWrap{
  word-wrap: break-word;
  word-break: break-all;
}

button.close {
    &:hover, &:focus, &:active{
        > .icon-cross-10-grayDark{
            @extend .icon-cross-10-blueDark;
        }
        > .icon-cross-14-grayDark{
            @extend .icon-cross-14-blueDark;
        }
        > .icon-cross-16-grayDark{
            @extend .icon-cross-16-blueDark;
        }
        > .icon-cross-18-grayDark{
            @extend .icon-cross-18-blueDark;
        }
    }

    > i.icon-cross-10-grayDark{
        &:hover, &:focus{
            @extend .icon-cross-10-blueDark;
        }
    }
    > i.icon-cross-14-grayDark{
        &:hover, &:focus{
            @extend .icon-cross-14-blueDark;
        }
    }
    > i.icon-cross-16-grayDark{
        &:hover, &:focus{
            @extend .icon-cross-16-blueDark;
        }
    }
    > i.icon-cross-18-grayDark{
        &:hover, &:focus{
            @extend .icon-cross-18-blueDark;
        }
    }
}

.dropdown-menu .divider {
    background: $gray-darkest !important;
}

i {
    margin-right: 1px;
}


label {
    font-weight: 400;
}

button.btn.image-remove {
    margin-top: 0;
    border: 1px solid $gray-lighter;

    > .icon-trash {

        @extend .icon-trash-grayDark;
    }

    &:hover, &:focus {
        background-color: $blue-dark;
        border: 1px solid $blue-darker;

        > .icon-trash {
            @extend .icon-trash-white;
        }
    }
}

/*===============================
=            z-index            =
===============================*/
.mfp-bg {
    z-index: 10000;
}
.mfp-wrap {
    z-index: 10001;
}

/*==============================
=   Approval Status Indicators =
==============================*/

.label-draft, .label-pending, .label-needs-action, .label-published, .label-rejected {
    @extend .icons;
    font-family: 'Ubuntu';
    font-weight: 400;

    &::before {
        font-family: 'icons';
        display: inline-block;
        width: 18px;
        text-align: center;
    }
}



/*====================
=     Close          =
====================*/
.icon-cross-18 {
    @extend .icon-cross-18-grayDark;

    &:hover, &:focus{
        @extend .icon-cross-18-blueDark;
    }
}
.icon-cross-16 {
    @extend .icon-cross-16-grayDark;

    &:hover, &:focus{
        @extend .icon-cross-16-blueDark;
    }
}
.icon-cross-14 {
    @extend .icon-cross-14-grayDark;

    &:hover, &:focus{
        @extend .icon-cross-14-blueDark;
    }
}
.icon-cross-10 {
    @extend .icon-cross-10-grayDark;

    &:hover, &:focus{
        @extend .icon-cross-10-blueDark;
    }
}

.close.corner {
    position: absolute;
    right: 8px;
    top: 12px;
}

.modal-header .close {
    margin-top: -10px !important;
    margin-right: -8px !important;
    font-size: 200%;
}

/* Bookmark button */
.btn-bookmark {
    color: $gray-darker;
    background-color: $white;
    padding-bottom: 6px;

    &:active, &:focus, &:hover, &.bookmarked {
        background-color: $blue-dark;

    }

    &.bookmarked {
        color: $yellow;
        border: $blue-darker 1px solid;
    }
}

div.modal-header > button.close {
    margin:-22px -13px 0 0;

    &:hover, &:focus, &:active {

        > .icon-cross-16-grayDark{
            @extend .icon-cross-16-blueDark;
        }
    }
}

/*=======================
= Classification Banner =
=======================*/
@import "../../bower_components/ozp-classification/classification.css";

#main {
    padding-top: 20px;
    padding-bottom: 20px;
}
body > div.classBanner {
    position: fixed;
    z-index: 1050;

    &:first-of-type {
        top: 0px;
    }

    &:last-of-type {
        bottom: 0px;
    }
}


.corner-button {
    display: block;
    text-align: center;

    background-color: $white;
    font-size: 1.3em;
    border: 1px solid $gray-lighter;
    border-top: 3px solid white;
    margin-top: 1px;

    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sidebar {
    padding: 30px 0;
    background: $gray-lightest;
}


.content {
    background: $white;
}


// this is at the bottom so it doesn't override bootstrap variables
@import "../../node_modules/react-datepicker/src/stylesheets/datepicker.scss";
.datepicker__input {
    display: block;
    height: 34px;
}

.datepicker,
.datepicker__header,
.datepicker__day:hover,
.datepicker__input,
.datepicker__day--selected {
    border-radius: 0px !important;
}

//Listing Status Icons
.icon-exclamation-14 {
    @extend .icon-exclamation-14-redOrangeDark;
}

.icon-loader-14 {
    @extend .icon-loader-14-blueDark;
}

.icon-thumbs-up-14 {
    @extend .icon-thumbs-up-14-greenDark;
}
.icon-reload-14 {
    @extend .icon-reload-14-blueDark;
}

.icon-exclamation-12 {
    @extend .icon-exclamation-12-redOrangeDark;
}

.icon-loader-12 {
    @extend .icon-loader-12-blueDark;
}

.icon-thumbs-up-12 {
    @extend .icon-thumbs-up-12-greenDark;
}
.icon-reload-12 {
    @extend .icon-reload-12-blueDark;
}


// Icon Hovers

@import "mixins";

$icons: (
    icon-ban-12-blueDark: icon-ban-12-red,
    icon-open-grayDark: icon-open-white,
    icon-pencil-grayDark: icon-pencil-white,
    icon-ribbon-grayDark: icon-ribbon-white,
    icon-layers-grayDark: icon-layers-white,
    icon-cross-10-grayDark: icon-cross-10-blueDark,
    icon-cross-14-grayDark: icon-cross-14-blueDark,
    icon-cross-16-grayDark: icon-cross-16-blueDark,
    icon-cross-18-grayDark: icon-cross-18-blueDark
);


@include sprite-icons($icons);
*{
  -moz-transition: none !important;
}
// Help Tour


.popover[class*="tour-"] {
    border-color: $blue;

    .popover-title,
    .popover-content,
    .popover-navigation {
        padding: 5px 25px;
    }

    .popover-title {
        background: transparent;
        color: $blue-dark;
        font-weight: bold;
        border: 0;
        padding-top: 25px;
    }

    .popover-navigation {
        padding-bottom: 25px;
    }

    &.bottom > .arrow { border-bottom-color: $blue; }
    &.top > .arrow { border-top-color: $blue; }
    &.left > .arrow { border-left-color: $blue; }
    &.right > .arrow { border-right-color: $blue; }
    &.orphan > .arrow { display: none; }
}

.tour-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.tour-step-backdrop {
  position: relative;
  z-index: 1051;

    > td {
      position: relative;
      z-index: 1051;
    }
}

.tour-step-background {
  position: absolute !important;
  z-index: 1050;
  background: inherit;
  border-radius: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
/*=======================
= Accessibility Section=
=======================*/

.hidden-span{
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
