$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import 'colors';

* {
    border-radius: 0px !important;
}

html, body {
    background: $page-bg;
}

#main {
    margin: 0 auto;
    display: block;
    min-height: 100%;
    height: auto !important;
    width: 1260px;

    background: #e8e8e8;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

@media (max-width: 1023px) and (min-width: 800px) {
    #main {
        width: 800px !important;
        transition: all .25s linear;
    }
}

@import 'carousel';
@import 'header';
@import 'listing-tile';
@import 'search';