$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts/";

@import 'colors';
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "../../bower_components/magnific-popup/src/css/main.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/select2/select2.css";
@import "../../node_modules/select2/select2-bootstrap.css";
@import 'fonts';

$header-height: 55px;

html, body {
    background: $body-bg;
    font-family: 'Ubuntu Regular', 'Ubuntu';
    font-weight: 300;
}

.navbar-right {
    margin: 0px;
}

#main {
    min-height: 100%;
    height: auto !important;
    width: 1260px;

    background: #e8e8e8;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

#header, #sub-header {
    z-index: 2;
    position: fixed;
    height: $header-height;
    width: 100%;
    left: 0;

    > .row {
        background: #fff;
        margin: 0 auto;
        width: 1260px;
    }
}

#sub-header {
    z-index: 1;
    position: fixed;
    height: 60px;
    top: $header-height + 20px;

    .btn-group {
        padding: 10px;
    }
}

@media (max-width: 1023px) and (min-width: 800px) {
    #main {
        width: 800px !important;
        transition: all .25s linear;
    }
}

// .btn.btn-default:hover {
//     background-color: $btn-primary-bg;
//     color: $btn-primary-color;
// }

@import 'carousel';
@import 'header';
@import 'listing-tile';
@import 'featured-listings';
@import 'discovery';
@import 'quickview';
@import 'create-edit';


.close {
    font-size: 3em;
    font-weight: lighter;
}

i {
    margin-right: 2px;
}

i.fa-star, i.fa-star-half-o {
    color: $star-color;
}

label {
    font-weight: 400;
}

/*===============================
=            z-index            =
===============================*/
.mfp-bg {
    z-index: 10000;
}
.mfp-wrap {
    z-index: 10001;
}
