@import "variables";

@import "../../bower_components/ubuntu-fontface/_ubuntu-base.scss";
@import "../../bower_components/ubuntu-fontface/_ubuntu-mono.scss";

@import "../../bower_components/magnific-popup/src/css/main.scss";
@import "../../node_modules/select2/select2.css";
@import "../../node_modules/select2/select2-bootstrap.css";
@import "_bootstrap.scss";
@import "../../node_modules/ozp-react-commons/app/styles/commons.scss";
@import "../../node_modules/react-select-box/example/select-box.css";

@import "../../node_modules/icons/dist/css/sprite.scss";

[class^="icon-"], [class*=" icon-"] {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$header-height: 55px;
$black: #191F25;

html, body {
    font-family: 'Ubuntu';
    font-weight: 300;
    height: 100%;
    background: url('../images/bg_fractal_gray.png') $gray-dark no-repeat fixed;
    background-size: cover;
}

.navbar-right {
    margin: 0px;
}

#main {
    min-height: 100%;
    height: auto;
    width: 1260px;
    background: $white;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

#header, #sub-header {
    z-index: 5;
    position: fixed;
    height: $header-height;
    width: 100%;
    left: 0;

    > .row {
        background: $white;
        margin: 0 auto;
        width: 1260px;
    }
}

#sub-header {
    z-index: 1;
    position: fixed;
    height: 60px;
    top: $header-height + 20px;

    .btn-group {
        padding: 10px;
    }
}

.alert-small {
    width: 33%;
    padding: 5px 10px 5px 10px;
}

@media (max-width: 1023px) and (min-width: 800px) {
    #main {
        width: 800px !important;
        transition: all .25s linear;
    }
}

@import 'w2ui';
@import 'select2';
@import 'loadmask';
@import 'load-more';
@import 'carousel';
@import 'header';
@import 'listing/search-listing-tile';
@import 'listing/admin-owner-listing-tile';
@import 'featured-listings';
@import 'discovery';
@import 'quickview';
@import 'create-edit';
@import 'toolbar';
@import 'infiniteScroll';
@import 'management/user/listing-management';
@import 'management/user/my-listings';
@import 'management/user/recent-activity';
@import 'management/mall/mall-management';
@import 'management/deleteConfirmation';
@import 'management/all-listings/all-listings';
@import 'management/notifications';

.close {
    font-size: 2em;
    font-weight: lighter;
    top: 0;
    margin-top: -10px;
}

button.close {
    &:hover, &:focus, &:active{
        > .icon-cross-10-grayDark{
            @extend .icon-cross-10-blueDark;
        }
        > .icon-cross-14-grayDark{
            @extend .icon-cross-14-blueDark;
        }
        > .icon-cross-16-grayDark{
            @extend .icon-cross-16-blueDark;
        }
        > .icon-cross-18-grayDark{
            @extend .icon-cross-18-blueDark;
        }
    }
}

.dropdown-menu .divider {
    background: $gray-darkest !important;
}

i {
    margin-right: 1px;
}


label {
    font-weight: 400;
}

/*===============================
=            z-index            =
===============================*/
.mfp-bg {
    z-index: 10000;
}
.mfp-wrap {
    z-index: 10001;
}

/*==============================
=   Approval Status Indicators =
==============================*/

.label-draft, .label-pending, .label-needs-action, .label-published, .label-rejected {
    @extend .icons;

    padding-left: 0px !important;
    font-family: 'Ubuntu';

    &::before {
        font-family: 'icons';
        display: inline-block;
        width: 18px;
        text-align: center;
    }
}

.label-draft {
    @extend .icon-paper;
}

.label-pending {
    @extend .icon-loader;
    color: $blue-dark;
}

.label-needs-action {
    @extend .icon-exclamation;
    color: $red-orange-dark;
}

.label-published {
    @extend .icon-thumbs-up;
    color: $green-dark;
}

.label-rejected {
    @extend .icon-reload;
}


/*====================
=     Close          =
====================*/
.close.corner {
    position: absolute;
    right: 8px;
    top: 0;
}

.modal-header .close {
    margin-top: -10px !important;
    margin-right: -8px !important;
    font-size: 200%;
}

/* Bookmark button */
.btn-bookmark {
    color: $gray-darker;
    background-color: $white;
    padding-bottom: 6px;

    &:active, &:focus, &:hover, &.bookmarked {
        background-color: $blue-dark;

    }

    &.bookmarked {
        color: $yellow;
        border: $blue-darker 1px solid;
    }
}

div.modal-header > button.close {
    margin:-22px -13px 0 0;
}

/*=======================
= Classification Banner =
=======================*/
@import "../../bower_components/ozp-classification/classification.css";

#main {
    padding-top: 20px;
    padding-bottom: 20px;
}
body > div.classBanner {
    position: fixed;
    z-index: 1000000;

    &:first-of-type {
        top: 0px;
    }

    &:last-of-type {
        bottom: 0px;
    }
}


.corner-button {
    display: block;
    text-align: center;

    background-color: $white;
    font-size: 1.3em;
    border: 1px solid $gray-lighter;

    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sidebar {
    padding: 20px 30px;
    margin-top:-15px;
    background: $gray-lightest;
}


.content {
    background: $white;
}


// this is at the bottom so it doesn't override bootstrap variables
@import "../../node_modules/react-datepicker/src/stylesheets/datepicker.scss";
.datepicker__input {
    display: block;
    height: 34px;
}

.datepicker,
.datepicker__header,
.datepicker__day:hover,
.datepicker__input,
.datepicker__day--selected {
    border-radius: 0px !important;
}


// Icon Hovers

@import "mixins";

$icons: (
    icon-ban-12-blueDark: icon-ban-12-red,
    icon-open-grayDark: icon-open-white,
    icon-pencil-grayDark: icon-pencil-white,
    icon-ribbon: icon-ribbon-white,
    icon-layers: icon-layers-white
);


@include sprite-icons($icons);
