$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts/";

@import 'variables';
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "../../bower_components/magnific-popup/src/css/main.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/select2/select2.css";
@import "../../node_modules/select2/select2-bootstrap.css";
@import 'fonts';

$header-height: 55px;
$black: #191F25;

html, body {
    background: #d6d6d6;
    font-family: 'Ubuntu Regular', 'Ubuntu';
    font-weight: 300;
}

.navbar-right {
    margin: 0px;
}

#main {
    min-height: 100%;
    height: auto !important;
    width: 1260px;

    background: #eeeeef;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

#header, #sub-header {
    z-index: 2;
    position: fixed;
    height: $header-height;
    width: 100%;
    left: 0;

    > .row {
        background: #fff;
        margin: 0 auto;
        width: 1260px;
    }
}

#sub-header {
    z-index: 1;
    position: fixed;
    height: 60px;
    top: $header-height + 20px;

    .btn-group {
        padding: 10px;
    }
}

@media (max-width: 1023px) and (min-width: 800px) {
    #main {
        width: 800px !important;
        transition: all .25s linear;
    }
}

@import 'carousel';
@import 'header';
@import 'listing-tile';
@import 'featured-listings';
@import 'discovery';
@import 'quickview';
@import 'create-edit';
@import 'management/user/listing-management';
@import 'management/user/my-listings';
@import 'management/mall/mall-management';


.close {
    font-size: 3em;
    font-weight: lighter;
}

i {
    margin-right: 2px;
}

i.fa-star, i.fa-star-half-o {
    color: $star-color;
}
i.fa-star-o:before {
    color: #dbdcdd;
    content: "\f005";
}

label {
    font-weight: 400;
}

/*===============================
=            z-index            =
===============================*/
.mfp-bg {
    z-index: 10000;
}
.mfp-wrap {
    z-index: 10001;
}

/*==============================
=   Approval Status Indicators =
==============================*/

.label-draft, .label-pending, .label-needs-action, .label-published {
    @extend .fa;
}

.label-draft {
    @extend .fa-file-text-o;
}

.label-pending {
    @extend .fa-spinner;
    color: $blue-dark;
}

.label-needs-action {
    @extend .fa-exclamation;
    color: $red-orange-dark;
}

.label-published {
    @extend .fa-thumbs-o-up;
    color: $green-dark;
}
