.DeleteConfirmation {
    .modal-dialog {
        width: 500px;
    }

    .modal-body {
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;

        text-align: center;

        strong {
            font-weight: normal;
            font-size: 1.3em;
            display: block;

            margin-top: 20px;
            margin-bottom: 20px;
        }

        .btn {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}
