.ActiveNotification, .PastNotification {
    margin-bottom: 20px;
}

.ActiveNotification__Header, .PastNotification__Header {
    position: relative;
    margin-bottom: 5px;
}

.ActiveNotification__Header {
    > .btn-link:hover, .btn-link:focus {
        color: $red;
    }
    > .icon-ban {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.CreateNotification {
    select[name="hour"],
    select[name="minute"] {
        display: inline-block;
        width: auto;
        margin-right: 5px;
        height: 34px;
    }
}
