.ListingManagement__body {
    padding-top: 45px;
    position: relative;
    min-width: 768px;

    h1 {
        padding: 20px 30px;
        margin: 0;
        background: $gray-lightest;
    }
}

.ListingManagement__CreateListingButton {
    position: absolute;
    right: 30px;
    top: 100px;
}

.ListingManagement__TabContainer {
    margin-top: -44px;


    .nav-tabs {
        padding-left: 50%;
    }
}
