.ListingManagement__body {
    padding-top: 55px;
    position: relative;
}

.ListingManagement__CreateListingButton {
    position: absolute;
    right: 30px;
    top: 80px;
}

.ListingManagement__TabContainer {
    margin-top: -32px;

    .nav-tabs {
        padding-left: 40%;
    }
}
