.ListingManagement__body {
    padding-top: 95px;
    position: relative;
}

.ListingManagement__CreateListingButton {
    position: absolute;
    right: 30px;
    top: 100px;
}

.ListingManagement__TabContainer {
    margin-top: -32px;

    .nav-tabs {
        padding-left: 40%;
        margin-left: -15px;
        margin-right: -15px;
    }
}
