.MyListings__listings {
    padding-top: 40px;
}

.MyListingTile {
    display: inline-block;
    position: relative;

    margin-right: 40px;
    margin-bottom: 30px;

    vertical-align: top;
}

.MyListingTile_img {
    width: $listing-tile-img-width;
    height: $listing-tile-img-height;
    display: block;
}

.MyListingTile__actionMenu > ul {
    //overridden when toggle is checked
    display: none;

    @extend .list-unstyled;

    width: 70px;

    font-size: .8em;

    background-color: $white;

    border: 1px solid $gray-lighter;

    > li {
        $spacing: 5px;

        padding-top: $spacing;
        padding-bottom: $spacing;

        > a {
            color: inherit;
            border-left: 3px solid transparent;

            padding-left: $spacing;
            padding-right: $spacing;

            display: block;
        }

        &:hover > a {
            color: $blue-dark;
            border-color: $blue-dark;

            text-decoration: none;
        }
    }
}

.MyListingTile__actionMenuButton {
    //style as font-awesome horizontal ellipsis
    @extend .fa;
    @extend .fa-ellipsis-h;

    display: block;
    text-align: center;

    background-color: $white;
    font-size: 1.3em;
    border: 1px solid $gray-lighter;

    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 1px;

    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.MyListingTile__actionMenu {
    position: absolute;

    top: 1px;
    right: 1px;
    z-index: 1;

    > input {
        //the toggle checkbox is hidden
        display: none;

        //when the checkbox is checked, display the menu
        &:checked {
            & ~ ul {
                display: block;
            }

            & ~ .MyListingTile__actionMenuButton {
                border-bottom: 3px solid $blue-dark;
                color: $blue-dark;
            }
        }
    }
}

.MyListingTile__approvalStatus {
    position: absolute;
    left: 0;
}

.MyListingTile__approvalDate {
    position: absolute;
    right: 0;

    font-size: .9em;
}

.MyListingTile__infoBar {
    text-align: center;
    vertical-align: baseline;

    > .title {
        display: inline-block;
        width: 100px;

        overflow-wrap: break-word;
    }
}

.MyListings__approvalStatusFilter {
    input[type="radio"] {
        display: none;
    }

    label {
        display: block;
        cursor: pointer;

        border-left: 3px solid transparent;

        vertical-align: middle;

        width: 80%;
        height: 20px;

        span {
            line-height: 20px;
        }

        &::before {
            margin-right: 15px;
        }

        strong {
            float: right;

            min-width: 20px;
            height: 20px;
            line-height: 15px;

            border-radius: 50%;

            padding: 3px;

            font-size: .9em;
            color: $white;
            text-align: center;
        }
    }

    input:checked + label {
        border-left-color: $blue;
    }

    .label-pending strong {
        background-color: $blue-dark;
    }

    .label-needs-action strong {
        background-color: $red-orange-dark;
    }

    .label-published strong {
        background-color: $green-dark;
    }

    .label-draft strong, .label-all strong {
        background-color: $black;
    }

    .label-all {
        padding-left: 4px;
    }
}

.FeedbackModal {
    font-size: .9em;

    h3 {
        margin-top: 0;
    }

    dd, dt {
        display: inline-block;
        line-height: 30px;
    }

    dt {
        width: 13%;

        &::after {
            content: ':';
        }
    }

    dd {
        width: 87%;
    }

    .feedback {
        display: block;
        height: 200px;
        width: auto;

        overflow: auto;
    }

    .edit {
        display: block;
        width: 150px;
        height: 2em;
        line-height: 2em;

        margin-left: auto;
        margin-right: auto;

        text-align: center;

        background-color: $blue-dark;
        color: white;
        font-weight: bolder;

        &:hover {
            text-decoration: none;
        }
    }

    .close {
        position: absolute;
        right: 8px;
        top: 0;
    }
}
