.MyListings__listings {
    padding: 30px;
    background: $white;
    min-height: 500px;
}

.MyListings, .AllListings {
    position: relative;

    > aside {
        min-height: 100%;
        position: absolute;
    }

    > &__listings {
        float: right;
    }
}

.Listings__Sidebar {
    background: $gray-lightest;

    .switchBox {
        display: block;
        float: right;
        margin: 5px 15px 25px 0;
        cursor: pointer;

        .switch-blueDark, .switch-white {
            padding: 5px 10px;
            border: $gray-lighter 1px solid;
            
            i {
                margin: 0px !important;
            }
        }

        .switch-blueDark {
            background-color: $blue-dark;
        }

        .switch-white {
            background-color:white;
        }
    }
}

.Listings__SidebarFilter {
    padding: 0;
    margin: 0 -15px;

    div {
        clear: both;
    }

    input[type="radio"] {
        display: none;
    }

    h4 {
        color: $gray-dark;
        font-weight: bold;
        padding: 0 30px;
        font-size: 14px;
    }

    .badge {
        border-radius: 0px;
        padding: 4px 4px 2px 4px;
        top: 8px;
        right: 15px;
        position: absolute;
    }

    label {
        display: block;
        cursor: pointer;
        border-bottom: 1px solid $gray-lighter;
        border-left: 4px solid transparent;
        padding: 8px 25px;
        margin-bottom: 0px;
        vertical-align: middle;
        position: relative;

        &:hover, &:focus{
            border-left-color: $blue;
            color:$blue-dark;

            .badge {
                background-color: $blue-dark;
            }
        }

        span {
            line-height: 20px;
            margin-right: 30px;
        }

        &::before {
            margin-right: 15px;
        }

        strong {
            min-width: 20px;
        }

        .label-needs-action {
            color: $red-orange-dark;

            > strong {
                background-color: $red-orange-dark;
            }
        }
    }

    .label-draft, .label-pending, .label-needs-action, .label-published, .label-rejected {
        i { 
            float: left;
        }

        span {
            display: block;
            margin-left: 52px;
        }
    }

    i {
        margin-right: 15px;
        margin-left: 25px;
    }

    input:checked + label {
        border-left: 4px solid $blue;
        background: $white;
        color: $blue-dark;

        .badge {
            background-color: $blue-dark;
        }
    }
}

.FeedbackModal {
    font-size: .9em;

    h3 {
        margin-top: 0;
    }

    dd, dt {
        display: inline-block;
        line-height: 30px;
    }

    dt {
        width: 13%;

        &::after {
            content: ':';
        }
    }

    dd {
        width: 87%;
    }

    .feedback {
        display: block;
        height: 200px;
        width: auto;

        overflow: auto;
    }

    .edit {
        display: block;
        width: 150px;
        height: 2em;
        line-height: 1.1;

        margin-left: auto;
        margin-right: auto;

        font-weight: bolder;
    }
}
