.RecentActivity__SidebarFilter {
    background: $gray-lightest;

    .filter-group {
        padding: 5px;
        padding-bottom: 15px;
    }

    input[type="radio"] {
        display: none;
    }

    h4 {
        font-size: 16px;
    }

    label {
        display: block;
        cursor: pointer;
        font-size: 12px;


        border-bottom: 2px solid $gray-light;

        border-left: 3px solid transparent;
        padding-left: 4px;

        vertical-align: middle;

        width: 80%;
        height: 40px;

        span {
            line-height: 40px;
            color: $gray-dark;
        }

        &::before {
            margin-right: 15px;
        }

        i {
            float: right;
            margin-top: 6px;
            color: $gray-dark;
        }

    }

    .label-needs-action {
        > span {
            color: $red-orange-dark;
        }
    }

    a:hover {
        text-decoration: none;
        color: none;
    }
}

.RecentActivity__activities {

    .recent-activity-icon {
        float: left;
        max-height: 30px;
        max-width: 30px;
        margin-right: 10px;
    }

}
