.RecentActivity__SidebarFilter {
    background: $gray-lightest;
    margin-top: -20px;
    margin-left: -10px;
    padding: 10px 5px 10px 5px;

    .filter-group {
        background: $white;
        padding: 0px;
        border: 1px solid $gray-lighter;
        margin-bottom: 10px;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;

    }

    input[type="radio"] {
        display: none;
    }

    h4 {
        padding: 10px;
        font-size: 16px;
    }

    a {
        margin: 0;
        padding: 0;

        label {
            display: block;
            cursor: pointer;
            font-size: 12px;
            border-left: 3px solid transparent;
            border-bottom: 1px solid $gray-lighter;
            margin: 0;

            padding-left: 10px;
            vertical-align: middle;

            height: 40px;

            span {
                line-height: 40px;
                color: $gray-dark;
            }

            &::before {
                margin-right: 15px;
            }

            .icon-caret-right {

                @extend .icon-caret-right-grayDark;
                float: right;
                margin-top: 11px;

            }

            i {
                margin-right: 4px;
                top: 3px;
                margin-left:4px;

                .icon-exclamation-14 {
                    @extend .icon-exclamation-14-redOrangeDark;
                }

                .icon-loader-14 {
                    @extend .icon-loader-14-blueDark;
                }

                .icon-thumbs-up-14 {
                    @extend .icon-thumbs-up-14-greenDark;
                }
                .icon-reload-14 {
                    @extend .icon-reload-14-blueDark;
                }
            }

        }

        &:hover, &:focus {
            text-decoration: none;
            color: none;
            background: $blue-dark;

            label {
                background: $blue-dark;
                border-bottom: 1px solid $blue-darker;

                span {
                    color: $white;
                }

                .icon-caret-right {
                    @extend .icon-caret-right-white;
                }

                .icon-exclamation-14 {
                    @extend .icon-exclamation-14-white;
                }

                .icon-loader-14 {
                    @extend .icon-loader-14-white;
                }

                .icon-thumbs-up-14 {
                    @extend .icon-thumbs-up-14-white;
                }
                .icon-reload-14 {
                    @extend .icon-reload-14-white;
                }
            }

        }

        &:last-child {

            > label {
                border-bottom: none;
            }

        }
    }
}

.RecentActivity__activities {

    .recent-activity-icon {
        float: left;
        max-height: 30px;
        max-width: 30px;
        margin-right: 10px;
    }

    .icon-caret-right {
        margin-top: 6px;
    }

}

div.RecentActivity__Sidebar.col-md-3 {
    padding-left: 0px;
    margin-left: -5px;
}
