.AdminOwnerListingTile {
    //overridden when matching filter
    display: none;
    position: relative;

    //one less that it should be to mitigate IE rounding error
    margin-right: 34px;
    margin-bottom: 30px;

    vertical-align: top;
}

.MyListings__listings.all .AdminOwnerListingTile,
.MyListings__listings.IN_PROGRESS .AdminOwnerListingTile.draft,
.MyListings__listings.REJECTED .AdminOwnerListingTile.needs-action,
.MyListings__listings.PENDING .AdminOwnerListingTile.pending,
.MyListings__listings.APPROVED .AdminOwnerListingTile.published {
    display: inline-block;
}

.AdminOwnerListingTile__img {
    width: $listing-tile-img-width;
    height: $listing-tile-img-height;
    display: block;
    border: 1px solid $gray-lighter;
}

.AdminOwnerListingTile__actionMenu > ul {
    //overridden when toggle is checked
    @extend .list-unstyled;
    display: none;
    width: 70px;
    font-size: .8em;
    background-color: $gray-lightest;

    > li {
        $spacing: 5px;

        padding-top: $spacing;
        padding-bottom: $spacing;

        > a {
            color: inherit;
            border-left: 3px solid transparent;

            padding-left: $spacing;
            padding-right: $spacing;

            display: block;
        }

        &:hover > a {
            color: $blue-dark;
            border-color: $blue-dark;

            text-decoration: none;
        }
    }
}

.AdminOwnerListingTile__actionMenuButton {
    @extend .corner-button;

    margin-right: 0;
    margin-left: auto;
    width: 18px;
    height: 17px;
    border-top: 3px solid transparent;

    @extend .icon-caret-down-14-grayDark;

    &:hover, &:focus{
      border-top: 3px solid $blue-dark;
      padding: 0;
    }
}

.AdminOwnerListingTile__actionMenu {
    position: absolute;

    top: 0px;
    right: 0px;
    border: none;

    > input {
        //the toggle checkbox is hidden
        display: none;

        //when the checkbox is checked, display the menu
        &:checked {

            & ~ ul {
                display: block;
                background-color: $gray-lightest;
            }

            & ~ .AdminOwnerListingTile__actionMenuButton {

                border-top: 3px solid $blue-dark;
                padding-top: 1px;
                border-bottom: transparent;
                padding-bottom: 1px;
                color: $blue-dark;
                background-color: $gray-lightest;
                width: 18px;
                height: 17px;
                padding-left: 2px;
                padding-right: 2px;
                @extend .icon-caret-down-14-blueDark;
            }
        }
    }
}

.AdminOwnerListingTile__infoBar {
    position: relative;
    overflow: hidden;
    text-align: center;

    > .approvalStatus {
        position: absolute;
        top: 0;
        left: 0;
    }
    > .editedDate {
        position: absolute;
        top: 0;
        right: 0;
    }

    > .title {
        width: 100px;
        display: inline-block;
        text-align: center;
        @include text-overflow();
    }
}

.AdminOwnerListingTile.pending .approvalStatus {
    @extend .icon-loader-14-blueDark;
    color: $blue-dark;
}

.AdminOwnerListingTile.published .approvalStatus {
    @extend .icon-thumbs-up-14-greenDark;
    color: $green-dark;
}

.AdminOwnerListingTile.needs-action .approvalStatus {
    @extend .icon-exclamation-14-redOrangeDark;
}

.AdminOwnerListingTile.draft .approvalStatus {
    @extend .icon-paper-14-grayDark;
}

.AdminOwnerListingTile.rejected .approvalStatus {
    @extend .icon-reload-14-blueDark;
    color: $blue-dark;
}
