.ListingManagement-TableView {

    thead {
        tr {
            font-weight: 500;
            font-size: 9pt;

            .searchHeader {
                padding-bottom: 0;
            }

            .tableViewSearchBox {
                margin: 0;
                float: right;
                padding: 5px;
                margin-right: 10px;
                border: 2px solid $gray-lighter;
                border-bottom: 0;

                i {
                    margin: 5px 5px 0 0;
                }

                .tableViewSearchBar {
                    color: $gray-dark;
                    border: none;
                    margin: 0 5px;
                    font-weight: normal;

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }

            .commentsColumn, .statusColumn, .updatedColumn,
            .enabledColumn, .featuredColumn, .actionsColumn {
                text-align: center;
            }

            .bufferColumn {
                width:0px;
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;
            }

            .statusColumn, .updatedColumn, .enabledColumn,
            .featuredColumn, .actionsColumn, .bufferColumn {
                text-align: center;
            }

            .titleColumn, .ownersColumn, .commentsColumn {
                word-break: break-all;
            }
        }
    }

    .AdminOwnerListingTable__actionMenu > ul {
        //overridden when toggle is checked
        @extend .list-unstyled;
        display: none;
        width: 70px;
        font-size: .8em;
        background-color: $gray-lightest;

        > li {
            $spacing: 5px;

            padding-top: $spacing;
            padding-bottom: $spacing;

            > a {
                color: inherit;
                border-left: 3px solid transparent;

                padding-left: $spacing;
                padding-right: $spacing;
                margin: 1px;

                display: block;
            }

            &:hover > a, &:focus > a {
                color: $blue-dark;
                border-color: $blue-dark;

                text-decoration: none;
            }
        }
    }

    .AdminOwnerListingTable__actionMenuButton {
        @extend .corner-button;

        margin-right: 0;
        margin-left: auto;
        width: 18px;
        height: 17px;
        border-top: 3px solid transparent;

        @extend .icon-caret-down-14-grayDark;

        &:hover, &:focus{
          border-top: 3px solid $blue-dark;
          padding: 0;
        }
    }

    .AdminOwnerListingTable__actionMenu {
        margin:auto;
        border: none;

        > input {
            //the toggle checkbox is hidden
            display: none;

            //when the checkbox is checked, display the menu
            &:checked {

                & ~ ul {
                    display: block;
                    background-color: $gray-lightest;
                }

                & ~ .AdminOwnerListingTable__actionMenuButton {

                    border-top: 3px solid $blue-dark;
                    padding-top: 1px;
                    border-bottom: transparent;
                    padding-bottom: 1px;
                    color: $blue-dark;
                    background-color: $gray-lightest;
                    width: 18px;
                    height: 17px;
                    padding-left: 2px;
                    padding-right: 2px;
                    @extend .icon-caret-down-14-blueDark;
                }
            }
        }
    }
}
