.SearchListingTile {
    float: left;
    position: relative;
    overflow: hidden;
    width: $listing-tile-img-width;
    height: 192px;
    margin: 0 25px 25px 0;
    line-height: 0;
    cursor: pointer;
    background: #f3f3f3;
    border: 1px solid #d5d5d5;

    .slide-up {
        position: absolute;
        width: 100%;
        top: $listing-tile-img-height;
        line-height: 20px;
        padding: 0 8px;
        background: #f3f3f3;
        transition: all .1s ease-out 0.1s;

        > :nth-child(2) {
            display: inline-block;
        }
    }

    a {
        display: block;
        position: relative;
        height: 100%;
        color: $text-color;
    }

    img {
        width: $listing-tile-img-width;
        height: $listing-tile-img-height;
        margin: 0 auto;
        display: block;
    }

    i {
        margin-right: 2px;
    }

    .title {
        margin: 6px 0 1px 0;
    }

    .description {
        margin-top: 6px;
        height: 80px;
        overflow: hidden;
        font-size: $font-size-small;
    }

    .company {
        background: #e8e8e8;
        padding: 2px 10px;
        border-radius: 10px;
        display: inline-block;
        position: absolute;
        right: 8px;
        top: 8px;
    }

    .btn-add {
        margin: 0 auto;
        display: block;
    }

    .actions {
        margin-left: 64px;
    }


    &:hover, &:focus {
        a {
            text-decoration: none;
        }

        .slide-up {
            top: 0px;
        }
    }

}
