.AllListings__listings,
.ListingManagement-TableView {
    padding: 30px;
    background: $white;
    min-height: 500px;

    .AdminOwnerListingTile {
        display: inline-block;
    }
}
.AllListings__sidebar{
    display: table-cell;
}
